page-login {
  
        ion-content{
            background: url('../assets/icon/login.png');
            background-position: center;
            background-size: cover;
        }
        .login{
            margin-top: 60%;
        }
}
