page-editprofile {
    ion-item{
        border-radius: 15px;
        border-right: 5px solid royalblue !important ;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;        
        margin-bottom: 7px !important ;
    }
    ion-avatar{
    }
}
