<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      الحساب
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="goBack()">
          <ion-icon ><img style="height:30%;width:50%" src="assets/icon/back.png" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
    <ion-spinner *ngIf="loading" class="center-spinner" ></ion-spinner>    
    <ion-item *ngIf="!loading" no-lines >
      <ion-avatar (click)="gotofullscreen(profile.logo)" item-start >
        <img class="pp"  *ngIf="profile.logo!=null" src="{{photoUrl}}{{profile.logo}}">
        <img class="pp" *ngIf="profile.logo==null" src="assets/icon/eclip.png">    
      </ion-avatar>
      <h1 item-start ><b>
          {{profile.name}}          
      </b></h1>
    </ion-item>
   
  <ion-list  *ngIf="!loading" no-lines >
    <ion-item  > 
      <ion-label>
        <strong>الأيميل :</strong>
      </ion-label>
      <ion-label>
        {{profile.email}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>الموبيل :</strong>
      </ion-label>
      <ion-label>
        {{profile.mobile}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.other_mobile!=null" >
        <ion-label>
          <strong>رقم اخر :</strong>
        </ion-label>
        <ion-label>
          {{profile.other_mobile}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="profile.phone!=null" >
          <ion-label>
            <strong> الهاتف :</strong>
          </ion-label>
          <ion-label>
            {{profile.phone}}
          </ion-label>
        </ion-item>
    <ion-item *ngIf="profile.area!=null" >
      <ion-label>
        <strong>المنطقه :</strong>
      </ion-label>
      <ion-label>
        {{profile.area.name}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.city!=null" >
      <ion-label>
        <strong>المدينه :</strong>
      </ion-label>
      <ion-label>
        {{profile.city.name}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.address!=null" >
      <ion-label>
        <strong>العنوان :</strong>
      </ion-label>
      <ion-label>
        {{profile.address}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.whatsapp!=null" >
      <ion-label>
        <strong>واتس اب :</strong>
      </ion-label>
      <ion-label>
        {{profile.whatsapp}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.instagram!=null" >
      <ion-label>
        <strong>انستجرام :</strong>
      </ion-label>
      <ion-label>
        {{profile.instagram}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.facebook!=null" >
      <ion-label>
        <strong>فيس بوك :</strong>
      </ion-label>
      <ion-label>
        {{profile.facebook}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="profile.delivery!=null&&premium" >
        <ion-label>
          <strong> التوصيل :</strong>
        </ion-label>
        <ion-label>
          {{profile.delivery}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="profile.worktime_to!=null&&profile.worktime_from!=null&&premium" >
          <ion-label>
            <strong> مواعيد العمل :</strong>
          </ion-label>
          <ion-label>
            {{profile.worktime_from}} -> {{profile.worktime_to}}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="profile_expire!=null&&premium&&myprofile" >
            <ion-label>
              <strong> تاريخ انتهاء الاشتراك :</strong>
            </ion-label>
            <ion-label>
              {{profile_expire}}
            </ion-label>
          </ion-item>
        <rating [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half"
        starIconName="star" 
        nullable="false" 
        (ngModelChange)="addrate(profile.id)" style="color:gold;" *ngIf="!myprofile&&premium"></rating>
        <rating [(ngModel)]="store_rate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half"
        starIconName="star" 
        nullable="false" 
        (ngModelChange)="getrate()" style="color:gold;" *ngIf="premium&&myprofile"></rating>
  </ion-list>
  <div #map  class="fadeIn" id="map" style="height:40%;"></div>
  <div style="height:60px;"></div>
</ion-content>