page-messagedetails {


.messageLeft{
    padding-left: 10px;
    border-radius: 15px;
    background-color:rgb(241, 241, 241) !important ;
    font-size: 110%;
    max-width: 200px; 
    text-align: left;
    margin-right: 40%; 
}

.messageRight{
    border-radius: 15px;    
    padding-right: 10px;  
    background-color:rgb(247, 244, 244) !important ;
    font-size: 110%;  
    max-width: 200px;  
    direction: rtl;
}

}
