page-home {
    .home-item{
        padding: 0px 20px 0px 0px 20px;
        background-color:rgb(241, 241, 241) ;
        border-radius: 5px;
        border-bottom: 1.5px solid #f7abd8;
        margin-bottom: 7px;
    }
    
}

