page-messages {
    ion-content{
        background-color:rgb(241, 241, 241) !important ;
    }
.message-item{
    padding: 0px 20px 0px 0px 20px;
    margin-bottom: 4px;
    border-radius: 15px;
    border-right: 1.5px solid #f7abd8;
    border-right-width: 15px;
}
}
