page-notifications {
    ion-content{
        background-color:rgb(241, 241, 241) !important ;
    }
    .notification-card{
        border-radius: 10px;
    }
    ion-card-header{
        border-right:2px solid #78D0EB
    }
}
