page-invoices {
    ion-content{
        background-color:rgb(241, 241, 241) !important ;
    }
    .store-item{
        padding: 0px 20px 0px 0px 20px;
        margin-bottom: 4px;
        border-radius: 5px;
        border-right: 3px solid #f7abd8;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;    
    }
}
